<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org"></html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>lista de drones</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script src="https://kit.fontawesome.com/2d5c47c3eb.js" crossorigin="anonymous"></script>
	<style type="text/css">
		.centrar {
		        height: 800px;
		        width: 80%;
		        margin-right: auto;
		        margin-left: auto;
		       
		        }
		        .formulario
		            {
		              
		                width: 40%;
		                float: left;
		                position: relative;    
		                border-top-width: 10px;
		                border-right-width: 1em;
		                border-bottom-width: thick;
		                border-left-width: thin; 
		            }
		        .lista
		            {  border-top-width: 10px;
		             
		                width: 59%;
		                float: right;
		                position: relative;
		                 
		
		            }
		      
		        body{
		            background-color: rgb(190, 190, 190);
		        }
		        
			      
			.material-symbols-outlined {
			  font-variation-settings:
			  'FILL' 0,
			  'wght' 400,
			  'GRAD' 0,
			  'opsz' 48
			}
			 
		
	</style>

</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">Spacecraf Sofka</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item active">
					<a class="nav-link" th:href="@{/showdrone}">Drone <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">MannedSpacecraft</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Shuttle</a>
				</li>

			</ul>
		</div>
	</nav>

	<div class="centrar">
		<div class="formulario">



			<div class="container mt-4">

				<div class="col-sm-6">
					<form th:action="@{/savedrone}" th:object="${drone}" method="post">
						<div class="card">
							<div class="card-header">
								<h3> Module Drone</h3>
							</div>
							<div class="card-body">

								<div class="form-group">
									<label for="model">Model</label>
									<input th:field="*{model}" type="text" class="form-control" id="model" aria-describedby="modelHelp" placeholder="Enter model">
								</div>

								<div class="form-group">
									<label for="height">Height</label>
									<input th:field="*{height}" type="text" class="form-control" id="height" aria-describedby="heightHelp" placeholder="Enter height ">
								</div>
								<div class="form-group">
									<label for="maximun load">Maximun load</label>
									<input th:field="*{maximumLoad}" type="text" class="form-control" id="maximumLoad" aria-describedby="maxLoadHelp" placeholder="Enter  maximun load">
								</div>
								<div class="form-group">
									<label for="maximun speed">Maximun speed</label>
									<input th:field="*{maximumSpeed}" type="text" class="form-control" id="Maxspeed" aria-describedby="maxspeedHelp" placeholder="Enter maximun speed">
								</div>
								<div class="form-group">
									<label for="power">Power</label>
									<input th:field="*{power}" type="text" class="form-control" id="power" aria-describedby="powerHelp" placeholder="Enter power">
								</div>


								<div class="form-check">
									<input type="checkbox" class="form-check-input" id="takeCheck">
									<label th:field="*{statusTakeOff}" class="form-check-label" for="takeCheck">status take</label>
								</div>

								<div class="form-check">
									<input th:field="*{statusToOrbit}" type="checkbox" class="form-check-input" id="orbitCheck">
									<label class="form-check-label" for="orbitCheck">status to orbit</label>
								</div>

								<div class="form-check">
									<input th:field="*{statusLanding}" type="checkbox" class="form-check-input" id="landingCheck">
									<label class="form-check-label" for="takeCheck">status landing</label>
								</div>


								<div class="form-check">
									<input th:field="*{rover}" type="checkbox" class="form-check-input" id="landingCheck">
									<label class="form-check-label" for="takeCheck">status rover</label>
								</div>
								<div class="form-group">
									<label for="type propulsion">Type propulsion</label>
									<input th:field="*{typePropulsion}" type="text" class="form-control" id="TypePropulsion" aria-describedby="propulsionHelp" placeholder="Enter type propulsion">
								</div>

								<div class="form-group">
									<label for="weight">Weight</label>
									<input th:field="*{weight}" type="text" class="form-control" id="weight" aria-describedby="weightHelp" placeholder="Enter waight">
								</div>




							</div>
							<div class="card-footer">

								<input type="submit" value="Guardar" class="btn btn-success" />
							</div>
						</div>
					</form>
				</div>
			</div>




		</div>



		<div class="lista">
			
<div  class="container mt-4">

			<div class="card text-center">
				<div class="card-header">
					Drones
				</div>
				<div class="card-body">


					<div class="table-responsive-sm">

						<table class="table">
							<caption>List of drones</caption>
							<thead>
								<tr>

									<th>model</th>
									<th>height</th>
									<th>maximum load</th>
									<th>maximum speed </th>
									<th>power</th>
									<th>weight</th>
									<th>status take off </th>
									<th>status landing</th>
									<th>status to orbit </th>
									<th>type propulsion</th>

									<th>rover</th>
									<th>Edit</th>
									<th>Deleted</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="drone:${drones}">

									<td th:text="${drone.model}"></td>
									<td th:text="${drone.height}"></td>
									<td th:text="${drone.maximumLoad}"></td>
									<td th:text="${drone.maximumSpeed}"></td>
									<td th:text="${drone.power}"></td>
									<td th:text="${drone.weight}"></td>
									<td th:if="${drone.statusTakeOff}"><i class="fa-solid fa-check"></i></td>
									<td th:unless="${drone.statusTakeOff}"> <i class="fa-solid fa-xmark"></i></td>
									<td th:if="${drone.statusLanding}"><i class="fa-solid fa-check"></i></td>
									<td th:unless="${drone.statusLanding}"> <i class="fa-solid fa-xmark"></i></td>
									<td th:if="${drone.statusToOrbit}"><i class="fa-solid fa-check"></i></td>
									<td th:unless="${drone.statusToOrbit}"><i class="fa-solid fa-xmark"></i></td>
									<td th:text="${drone.typePropulsion}"></td>
									<td th:if="${drone.rover}"><i class="fa-solid fa-check"></i></td>
									<td th:unless="${drone.rover}"><i class="fa-solid fa-xmark"></i></td>
									<td><a th:href="@{/editdrone/}+${drone.id}" class="btn btn-warning">Edit</a></td>
									<td><a th:onclick="deletef([[${drone.id}]])" class="btn btn-danger">Deleted</a></td>


								</tr>

							</tbody>
						</table>
					</div>




				</div>
				<div class="card-footer text-muted">

				</div>
			</div>
			
			
			</div>
</div>
		</div>

	</div>

	<script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script src="js/funciones.js"></script>
</body>

</html>